// FONTS //
@font-face {
    font-family: 'De Valencia';
    src: url('../fonts/De\ Valencia\ \(beta\)-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'De Valencia', Arial, sans-serif;
  }
  