// COLORS //

$black: #505050;
$gray: #807F7F;
$white: #FFFDFA;
$light-gray: #E9E9E9;

// TEXT //
// desktop
$nav: 26px;
$h1: 80px;
$h2: 50px;
$sub-head: 24px;
$body: 24px;
$btn: 14px;
$copyright: 18px;

// mobile
$h1-mobile: 60px;
$h2-mobile: 40px;
$sub-heading-mobile: 20px;
$body-mobile: 20px;
$btn-mobile: 14px;
$copyright-mobile: 14px;
